/* page */
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.g-center{
    display: table-cell;

    vertical-align: middle;
}
.page{
    margin: 20px 0 0;

    text-align: center;
}

.operation{
    margin-bottom: 20px;
}
